@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #070707;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #070707;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 20px;
}

::selection {
  background: #8b5cf6;
  color: white;
}